<h2>Student: <%= @student.first_name %> <%=@student.last_name%></h2>


<h1> <%= @student.first_name%>'s Address(s) </h1>
<ul>
  <% @student.addresses.each do |address| %>
  <li><p><%= address.street %> </p>
   <p><%= address.city %>, <%=address.state%>  <%=address.zip %> </p></li>
  <% end %>
</ul>

<h1> <%=@student.first_name %>'s Courses </h1>
<ul>
    <% @student.courses.each do |course| %>
    <li> <%= link_to course.subject, course_path(course) %></li>
      <% end  %>
</ul>
